
h2.plum-purple {color: #862d86;}
h2.magenta {color: #FF00FF;}
h2.dark-violet {color: #9400D3;}
h2.stiletto-red {color: #9e2e2e;}
h2.tomato {color: #FF6347;}
h2.st-tropaz-blue {color: #2966a3;}
h2.orange-zest {color: #df8020;}
h2.orange {color: #FFA500;}
h2.gold {color: #FFD700;}
h2.green-goblin {color: #3d8f3d;}
h2.lime {color: #32CD32;}
h2.lavender-purple {color: #9177AC;}
h2.shocking-pink {color: #e085b3;}
h2.coral {color: #FF7F50;}
h2.hot-pink {color: #FF69B4;}
h2.brown-clay {color: #996633;}
h2.lime-green {color: #00FF00;}
h2.pelorous-aqua {color: #40bfbf;}
h2.dodger-blue {color: #1E90FF;}
h2.cornflower-blue {color: #6495ED;}
h2.cyan {color: #00FFFF;}





